/* for mobile version */
@media screen and (max-width: 768px) {
  .navbarToggle {
    display: flex;
    
  }
  .toggle {
    
  }
  .navbar {
    height: 100%;
    width: 100%;
    margin-top: 0;
    padding: 2px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 3;
    background-color: #1827279a;
    /* transition: transform 0.3s ease-in-out;
    transform: translateY(-100%); */
  }

  .navbar.open {
    transform: translateY(0);
  }

  .links {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 5px;
    width: 100%;
  }

  .desktopMenuListItem {
    margin-bottom: 5px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
  }
}
